.resourses {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resourses .resourse_search_field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 20px auto;
  background-color: white;
  box-shadow: 2px 2px 5px gray;
  width: 50%;
  padding: 0.4rem 1.1rem;
  border-radius: 30px;
}

.reset_btn {
  margin: 1rem auto;
}

.reset_btn button {
  border: none;
  background-color: #0d6efd;
  color: white;
  border-radius: 15px;
  padding: 0.2rem 1.3rem;
}

.resourses div:first-child input {
  width: 100%;
  outline: none;
  border: none;
}

.resourses div:first-child button {
  border: none;
  background-color: #0d6efd;
  color: white;
  border-radius: 15px;
  padding: 0.2rem 1.3rem;
}

.resourses div:last-child {
  margin: auto;
}

#table_container {
  min-height: 50vh;
  margin-bottom: 2rem;
}

#table_container div {
  padding: 1rem;
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 2px 2px 7px rgb(136, 134, 134);
}

/* table {
  counter-reset: tableCount;
}
.counterCell:before {
  content: counter(tableCount);
  counter-increment: tableCount;
} */
